{% extends "base.html" %}

{% block title %}
     Plan Selection
{% endblock %}


{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="http://o.aolcdn.com/dojo/1.0/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true"></script>
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}


{% block header %}


    <script type="text/javascript" >

		function producerChanged(evt)
		{
			dojo.byId("contact").innerHTML = '---';
			dojo.byId("phone").innerHTML = '---';
			var jsonUrl = "/jsonproducer/" + evt.target.value + "/";
			dojo.xhrGet( 
			{
					url: jsonUrl,
					handleAs: "json",
					load: function(responseObject, ioArgs) 
					{
						var producer = responseObject[0];
						dojo.byId("contact").innerHTML = producer.fields.contact;
						dojo.byId("phone").innerHTML = producer.fields.phone;
					}
			});
		}


		dojo.addOnLoad(function()
		{
			dojo.connect(dojo.byId("id_member"), "onchange", "producerChanged");
		});

    </script>

{% endblock %}

{% block content %}

<div class="plan-update">

	{% include "distribution/tabnav.html" %}
	{% if user.is_authenticated %}
	<div style="border: 2px solid grey; float: left; width: 30%; padding-left: 1em;">

		<h4>Update Plans</h4>

		<form action="." method="POST" >
        		<table>
		            <tr>
                		<th style="text-align: right; " >Member:</th>
                		<td>
					{{ header_form.member }}
				</td>
				{% if header_form.member.errors %}
					<td style="color: red; " >
						{{ header_form.member.errors }}
					</td>
				{% endif %}
		            </tr>
		            <tr>
                		<th style="text-align: right; " >Contact:</th>
               			<td  id="contact" >---</td>
		            </tr>
		            <tr>
                		<th style="text-align: right; " >Phone:</th>
		                <td id="phone" >---</td>
		            </tr>
		        </table>
        		<p>
	        	    <input name="submit-update" type="submit" value="Submit" />
        		</p>
	    </form>

    	</div>
	{% endif %}

	<div style="border: 2px solid grey; float: left; width: 30%; padding-left: 1em;">
		<h4>Supply and Demand Table</h4>

		<form action="." method="POST" >

        		<table>
		            <tr>
                		<th style="text-align: right; " >From Date:</th>
                		<td>
					{{ sdform.from_date }}
				</td>
				{% if sdform.from_date.errors %}
					<td style="color: red; " >
						{{sdform.from_date.errors }}
					</td>
				{% endif %}
				</tr>
				<tr>
                		<th style="text-align: right; " >To Date:</th>
                		<td>
					{{ sdform.to_date }}
				</td>
				{% if sdform.to_date.errors %}
					<td style="color: red; " >
						{{sdform.to_date.errors }}
					</td>
				{% endif %}
		            </tr>

		        </table>

	        	<p>
		            <input name="submit-supply-demand" type="submit" value="Submit" />
        		</p>
	    </form>



	</div>


	<div style="clear: both;" />
</div>
{% endblock %}
